<% provide(:title, "Contact") %>
<h1>Contact</h1>
<div id="contact-info" class='center'>
	<ul>
		<li>My name: <a href="https://github.com/jaredarchey">Jared Archey</a></li>
		<li>Email: jaredarchey@yahoo.com</li>
	</ul>	
</div>